.Todo {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    font-family: monospace;
}
.done .taskText {
    text-decoration: line-through;
    color: red;
    font-weight: bolder;
    opacity: 0.4;
}
.card {
    margin-bottom: 20px;
}
.taskBg {
    background-color: rgb(32, 182, 132);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
    width: 95%;
}
.taskBg div {
    display: flex;
    align-items: center;
}
.taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}
.taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: #7df1bd;
}
.taskBg .iconsWrap span:focus-visible {
    outline: none;
}
.taskBg .iconsWrap span:hover {
    color: rgb(215, 255, 104);
}
.mr-20 {
    margin-right: 20px;
}
.taskNumber {
    color: rgb(215, 255, 104);
    border: 2px solid rgb(215, 255, 104);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}
.taskText {
    flex: 1;
    padding-left: 1rem;
    color: white;
}
